<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layoutBase :: head">
    <title>GetDrink</title>
</head>

<body>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <header th:replace="layoutBase :: header">

                </header>
            </div>
        </div>
        <main>
            <h2>
                Adicionar produto
            </h2> <br><br>
            <div class="row">
                <div class="col">
                    <form class="row g-3" action="/Produto/cadastrar" method="POST" style="max-width: 800px">
                        <div class="col-10">
                            <label for="nome" class="form-label">Nome</label>
                            <input type="text" class="form-control" id="nome" name="nome" placeholder="Leite">
                        </div>
                        <div class="col-10">
                            <label for="codBarra" class="form-label">Codigo de barra</label>
                            <input type="text" class="form-control" id="codBarra" name="codBarra"
                                placeholder="7 18748948 498498489">
                        </div>
                        <div class="col-5">
                            <label for="precoCusto" class="form-label">Preco de custo (R$)</label>
                            <input type="text" class="form-control" id="precoCusto" name="precoCusto"
                                placeholder="120,00">
                        </div>
                        <div class="col-5">
                            <label for="precoVenda" class="form-label">Preco de venda (R$)</label>
                            <input type="text" class="form-control" id="precoVenda" name="precoVenda"
                                placeholder="150,00">
                        </div>
                        <div class="col-10">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>

                    </form>
                </div>
                <div class="col">
                    <img th:src="@{/assets/imagens/GETdRINK.png}" alt="" class="img-fluid">
                </div>
            </div>
        </main>
        <footer>
            <div class="row">
                <div class="col">
                    <footer th:replace="layoutBase :: footer">
                    </footer>
                </div>
            </div>
        </footer>
    </div>
    <div th:replace="layoutBase :: script">
    </div>
</body>

</html>