<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layoutBase :: head">
  <title>GetDrink</title>
</head>

<body>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <header th:replace="layoutBase :: header">

        </header>

      </div>
    </div>
    <main>
      <h2>
        Excluir usuário
      </h2> <br><br>
      <div class="row">
        <div class="col">
          <h2>Digite o ID do usuário que deseja excluir</h2>
          <br><br>
          <form action="/view/FuncionarioViewController" method="DELETE">
            <div class="mb-3">
              <input type="id" class="form-control" id="inputId" aria-describedby="id">
            </div>
            <br><br>
            <button type="submit" class="btn btn-primary">Excluir</button>
          </form>
        </div>
        <div class="col">
          <img th:src="@{/assets/imagens/GETdRINK.png}" alt="" class="img-fluid">
        </div>
      </div>
    </main>
    <footer>
      <div class="row">
        <div class="col">
          <footer th:replace="layoutBase :: footer">
          </footer>
        </div>
      </div>
    </footer>
  </div>
  <div th:replace="layoutBase :: script">
  </div>
</body>

</html>