<!doctype html>
<html lang="pt-BR" class="h-100" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmento :: head">
  <title>Adicionar produto</title>
</head>
<body class="d-flex h-100 text-center text-bg-dark">

<header class="mb-auto">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">GetDrink</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Produto
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <li><a class="dropdown-item" href="#">Adicionar</a></li>
              <li><a class="dropdown-item" href="#">Excluir</a></li>
              <li><a class="dropdown-item" href="#">Alterar</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Pedidos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <li><a class="dropdown-item" href="#">Histórico</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/login">Sair</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main>

  <form class="row g-3" action="/view/FuncionarioViewController" method="POST" style="max-width: 800px">
    <div class="col-10">
      <label for="inputNomeProduto" class="form-label">Nome</label>
      <input type="text" class="form-control" id="inputNomeProduto" placeholder="Leite">
    </div>
    <div class="col-10">
      <label for="inputCodBarra" class="form-label">Codigo de barra</label>
      <input type="text" class="form-control" id="inputCodBarra" placeholder="7 18748948 498498489">
    </div>
    <div class="col-5">
      <label for="inputCusto" class="form-label">Preco de custo (R$)</label>
      <input type="text" class="form-control" id="inputCusto" placeholder="120,00">
    </div>
    <div class="col-5">
      <label for="inputVenda" class="form-label">Preco de venda (R$)</label>
      <input type="text" class="form-control" id="inputVenda" placeholder="150,00">
    </div>
    <div class="col-10">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>

  </form>
</main>

<foot th:replace="fragmento :: footer"></foot>
<div th:replace="fragmento :: script"></div>
</body>
</html>